bucket1/kafka-y-redis.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1742416540858,
    "description" : "",
    "identifier" : "kafka-y-redis",
    "lastModifiedTimestamp" : 1742416540858,
    "name" : "kafka y redis",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "781bb4da-9c86-330c-ae13-8792bc7fba1a",
        "name" : "PutFile",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "9f2b3cff-5d7a-30b9-bc1e-d191ab23dd16",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "aa5232b6-932c-35a4-9c8c-939455e726f7",
        "name" : "ConsumeKafka",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "b7cffbdf-7ffe-3368-abe7-195ef412bee8",
        "name" : "PutRedisHashRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "297c9a08-38a0-3bf9-a1ee-830bbb93ee6b",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "matched" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8e5c89f9-b242-3a06-a3f7-829e08138b31",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "8e5c89f9-b242-3a06-a3f7-829e08138b31",
        "name" : "EvaluateJsonPath",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "837309cf-893e-3491-9b77-9c159264108a",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "aa5232b6-932c-35a4-9c8c-939455e726f7",
        "name" : "ConsumeKafka",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-3-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-kafka-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "type" : "org.apache.nifi.kafka.service.api.KafkaConnectionService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "5e7b4b8f-3566-3af4-85ad-9a1d7f774f4a",
      "name" : "doce.kafka.jfsanchez.es",
      "properties" : {
        "security.protocol" : "PLAINTEXT",
        "ack.wait.time" : "5 sec",
        "max.poll.records" : "10000",
        "sasl.mechanism" : "GSSAPI",
        "isolation.level" : "read_committed",
        "max.block.ms" : "5 sec",
        "bootstrap.servers" : "#{KAFKA_SERVER}",
        "default.api.timeout.ms" : "60 sec"
      },
      "propertyDescriptors" : {
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "sasl.username" : {
          "displayName" : "SASL Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.username",
          "sensitive" : false
        },
        "max.poll.records" : {
          "displayName" : "Max Poll Records",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.poll.records",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Bootstrap Servers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.kerberos.service.name" : {
          "displayName" : "Kerberos Service Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.kerberos.service.name",
          "sensitive" : false
        },
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "sasl.mechanism" : {
          "displayName" : "SASL Mechanism",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.mechanism",
          "sensitive" : false
        },
        "isolation.level" : {
          "displayName" : "Transaction Isolation Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "isolation.level",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "sasl.password" : {
          "displayName" : "SASL Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.password",
          "sensitive" : true
        },
        "default.api.timeout.ms" : {
          "displayName" : "Client Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "default.api.timeout.ms",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.kafka.service.Kafka3ConnectionService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-redis-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-redis-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "type" : "org.apache.nifi.redis.RedisConnectionPool"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1a4f8f4a-f7a5-3444-967e-d89402bce0ec",
      "name" : "RedisConnectionPoolService",
      "properties" : {
        "Pool - Min Evictable Idle Time" : "60 seconds",
        "Pool - Test On Borrow" : "false",
        "Pool - Test On Return" : "false",
        "Redis Mode" : "Standalone",
        "Pool - Max Idle" : "8",
        "Pool - Block When Exhausted" : "true",
        "Cluster Max Redirects" : "5",
        "Pool - Num Tests Per Eviction Run" : "-1",
        "Connection String" : "10.133.29.77:6379",
        "Pool - Max Total" : "8",
        "Pool - Test On Create" : "false",
        "Pool - Min Idle" : "0",
        "Username" : "#{REDIS_USER}",
        "Sentinel Password" : "#{REDIS_CONEXION_PASSWORD}",
        "Pool - Test While Idle" : "true",
        "Pool - Time Between Eviction Runs" : "30 seconds",
        "Communication Timeout" : "10 seconds",
        "Pool - Max Wait Time" : "10 seconds",
        "Database Index" : "0",
        "Password" : "#{REDIS_PASSWORD}"
      },
      "propertyDescriptors" : {
        "Pool - Min Evictable Idle Time" : {
          "displayName" : "Pool - Min Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Min Evictable Idle Time",
          "sensitive" : false
        },
        "Pool - Test On Borrow" : {
          "displayName" : "Pool - Test On Borrow",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Test On Borrow",
          "sensitive" : false
        },
        "Pool - Test On Return" : {
          "displayName" : "Pool - Test On Return",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Test On Return",
          "sensitive" : false
        },
        "Redis Mode" : {
          "displayName" : "Redis Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Redis Mode",
          "sensitive" : false
        },
        "Pool - Max Idle" : {
          "displayName" : "Pool - Max Idle",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Max Idle",
          "sensitive" : false
        },
        "Pool - Block When Exhausted" : {
          "displayName" : "Pool - Block When Exhausted",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Block When Exhausted",
          "sensitive" : false
        },
        "Cluster Max Redirects" : {
          "displayName" : "Cluster Max Redirects",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Cluster Max Redirects",
          "sensitive" : false
        },
        "Pool - Num Tests Per Eviction Run" : {
          "displayName" : "Pool - Num Tests Per Eviction Run",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Num Tests Per Eviction Run",
          "sensitive" : false
        },
        "Connection String" : {
          "displayName" : "Connection String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection String",
          "sensitive" : false
        },
        "Pool - Max Total" : {
          "displayName" : "Pool - Max Total",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Max Total",
          "sensitive" : false
        },
        "Pool - Test On Create" : {
          "displayName" : "Pool - Test On Create",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Test On Create",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "Sentinel Username" : {
          "displayName" : "Sentinel Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Sentinel Username",
          "sensitive" : false
        },
        "Pool - Min Idle" : {
          "displayName" : "Pool - Min Idle",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Min Idle",
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Sentinel Password" : {
          "displayName" : "Sentinel Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Sentinel Password",
          "sensitive" : true
        },
        "Pool - Test While Idle" : {
          "displayName" : "Pool - Test While Idle",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Test While Idle",
          "sensitive" : false
        },
        "Pool - Time Between Eviction Runs" : {
          "displayName" : "Pool - Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Time Between Eviction Runs",
          "sensitive" : false
        },
        "Communication Timeout" : {
          "displayName" : "Communication Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Communication Timeout",
          "sensitive" : false
        },
        "Pool - Max Wait Time" : {
          "displayName" : "Pool - Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pool - Max Wait Time",
          "sensitive" : false
        },
        "Database Index" : {
          "displayName" : "Database Index",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Index",
          "sensitive" : false
        },
        "Sentinel Master" : {
          "displayName" : "Sentinel Master",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Sentinel Master",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.redis.service.RedisConnectionPoolService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.2.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "d73210f2-f1ae-3cab-a8f8-8c1150162e27",
      "name" : "JsonTreeReader",
      "properties" : {
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "ROOT_NODE",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "schema-application-strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-application-strategy",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "starting-field-strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-strategy",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "starting-field-name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-name",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "Kafka y redis",
    "outputPorts" : [ ],
    "parameterContextName" : "Parametros-nifi-clase",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "781bb4da-9c86-330c-ae13-8792bc7fba1a",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 560.0,
        "y" : -40.0
      },
      "properties" : {
        "Create Missing Directories" : "true",
        "Directory" : "/opt/nifi/compartido/datasets/kafka",
        "Conflict Resolution Strategy" : "replace"
      },
      "propertyDescriptors" : {
        "Group" : {
          "displayName" : "Group",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group",
          "sensitive" : false
        },
        "Owner" : {
          "displayName" : "Owner",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Owner",
          "sensitive" : false
        },
        "Create Missing Directories" : {
          "displayName" : "Create Missing Directories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Create Missing Directories",
          "sensitive" : false
        },
        "Permissions" : {
          "displayName" : "Permissions",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Permissions",
          "sensitive" : false
        },
        "Maximum File Count" : {
          "displayName" : "Maximum File Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Count",
          "sensitive" : false
        },
        "Last Modified Time" : {
          "displayName" : "Last Modified Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Last Modified Time",
          "sensitive" : false
        },
        "Directory" : {
          "displayName" : "Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Directory",
          "sensitive" : false
        },
        "Conflict Resolution Strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Conflict Resolution Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "failure", "unmatched" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8e5c89f9-b242-3a06-a3f7-829e08138b31",
      "maxBackoffPeriod" : "10 mins",
      "name" : "EvaluateJsonPath",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -256.0,
        "y" : 248.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "Max String Length" : "20 MB",
        "Return Type" : "auto-detect",
        "Null Value Representation" : "empty string",
        "Path Not Found Behavior" : "ignore"
      },
      "propertyDescriptors" : {
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "Return Type" : {
          "displayName" : "Return Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Return Type",
          "sensitive" : false
        },
        "Null Value Representation" : {
          "displayName" : "Null Value Representation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value Representation",
          "sensitive" : false
        },
        "Path Not Found Behavior" : {
          "displayName" : "Path Not Found Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Not Found Behavior",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "aa5232b6-932c-35a4-9c8c-939455e726f7",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConsumeKafka",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -256.0,
        "y" : -40.0
      },
      "properties" : {
        "Topics" : "#{topic}",
        "Commit Offsets" : "true",
        "Key Format" : "byte-array",
        "Key Attribute Encoding" : "utf-8",
        "Topic Format" : "names",
        "Header Encoding" : "UTF-8",
        "Max Uncommitted Time" : "1 sec",
        "Kafka Connection Service" : "5e7b4b8f-3566-3af4-85ad-9a1d7f774f4a",
        "Separate By Key" : "false",
        "Processing Strategy" : "FLOW_FILE",
        "Group ID" : "1",
        "auto.offset.reset" : "latest",
        "Output Strategy" : "USE_VALUE"
      },
      "propertyDescriptors" : {
        "Topics" : {
          "displayName" : "Topics",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Topics",
          "sensitive" : false
        },
        "Commit Offsets" : {
          "displayName" : "Commit Offsets",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Commit Offsets",
          "sensitive" : false
        },
        "Header Name Pattern" : {
          "displayName" : "Header Name Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Name Pattern",
          "sensitive" : false
        },
        "Key Format" : {
          "displayName" : "Key Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Format",
          "sensitive" : false
        },
        "Key Record Reader" : {
          "displayName" : "Key Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Key Record Reader",
          "sensitive" : false
        },
        "Message Demarcator" : {
          "displayName" : "Message Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Demarcator",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Key Attribute Encoding" : {
          "displayName" : "Key Attribute Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Attribute Encoding",
          "sensitive" : false
        },
        "Topic Format" : {
          "displayName" : "Topic Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Topic Format",
          "sensitive" : false
        },
        "Header Encoding" : {
          "displayName" : "Header Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Encoding",
          "sensitive" : false
        },
        "Max Uncommitted Time" : {
          "displayName" : "Max Uncommitted Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Uncommitted Time",
          "sensitive" : false
        },
        "Kafka Connection Service" : {
          "displayName" : "Kafka Connection Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Kafka Connection Service",
          "sensitive" : false
        },
        "Separate By Key" : {
          "displayName" : "Separate By Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Separate By Key",
          "sensitive" : false
        },
        "Processing Strategy" : {
          "displayName" : "Processing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Processing Strategy",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Group ID" : {
          "displayName" : "Group ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group ID",
          "sensitive" : false
        },
        "auto.offset.reset" : {
          "displayName" : "Auto Offset Reset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "auto.offset.reset",
          "sensitive" : false
        },
        "Output Strategy" : {
          "displayName" : "Output Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "3 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.kafka.processors.ConsumeKafka",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-redis-nar",
        "group" : "org.apache.nifi",
        "version" : "2.2.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b7cffbdf-7ffe-3368-abe7-195ef412bee8",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutRedisHashRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 568.0,
        "y" : 256.0
      },
      "properties" : {
        "hash-value-record-path" : "/id",
        "charset" : "UTF-8",
        "redis-connection-pool" : "1a4f8f4a-f7a5-3444-967e-d89402bce0ec",
        "record-reader" : "d73210f2-f1ae-3cab-a8f8-8c1150162e27",
        "data-record-path" : "/"
      },
      "propertyDescriptors" : {
        "hash-value-record-path" : {
          "displayName" : "Hash Value Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "hash-value-record-path",
          "sensitive" : false
        },
        "charset" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "charset",
          "sensitive" : false
        },
        "redis-connection-pool" : {
          "displayName" : "Redis Connection Pool",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "redis-connection-pool",
          "sensitive" : false
        },
        "record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "record-reader",
          "sensitive" : false
        },
        "data-record-path" : {
          "displayName" : "Data Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "data-record-path",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.redis.processor.PutRedisHashRecord",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "Parametros-nifi-clase" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ "Kafka" ],
      "name" : "Parametros-nifi-clase",
      "parameters" : [ {
        "description" : "",
        "name" : "MONGO_SERVER",
        "provided" : false,
        "sensitive" : false,
        "value" : "mongodb+srv://cluster0.q0rxb.mongodb.net"
      }, {
        "description" : "",
        "name" : "MONGO_JDBC",
        "provided" : false,
        "sensitive" : false,
        "value" : "/opt/nifi/compartido/jdbc/mongodb-jdbc-2.2.2-all.jar"
      }, {
        "description" : "",
        "name" : "MYSQL8_JDBC",
        "provided" : false,
        "sensitive" : false,
        "value" : "/opt/nifi/compartido/jdbc/mysql-connector-j-8.4.0.jar"
      }, {
        "description" : "",
        "name" : "MONGO_PASSWORD",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "MYSQL_CLASSNAME",
        "provided" : false,
        "sensitive" : false,
        "value" : "com.mysql.cj.jdbc.Driver"
      }, {
        "description" : "",
        "name" : "MYSQL_SERVER",
        "provided" : false,
        "sensitive" : false,
        "value" : "jdbc:mysql://10.133.29.77:9906/nifi"
      }, {
        "description" : "",
        "name" : "MYSQL_USER",
        "provided" : false,
        "sensitive" : false,
        "value" : "nifi"
      }, {
        "description" : "",
        "name" : "MONGO_USER",
        "provided" : false,
        "sensitive" : false,
        "value" : "martinrodriguez"
      }, {
        "description" : "",
        "name" : "MYSQL_PASSWORD",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "MYSQL9_JDBC",
        "provided" : false,
        "sensitive" : false,
        "value" : "/opt/nifi/compartido/jdbc/mysql-connector-j-9.2.0.jar"
      } ]
    },
    "Kafka" : {
      "componentType" : "PARAMETER_CONTEXT",
      "inheritedParameterContexts" : [ ],
      "name" : "Kafka",
      "parameters" : [ {
        "description" : "",
        "name" : "KAFKA_SERVER",
        "provided" : false,
        "sensitive" : false,
        "value" : "doce.kafka.jfsanchez.es:9092"
      }, {
        "description" : "",
        "name" : "topic",
        "provided" : false,
        "sensitive" : false,
        "value" : "tipicol"
      }, {
        "description" : "",
        "name" : "REDIS_PASSWORD",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "REDIS_CONEXION_PASSWORD",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "REDIS_USER",
        "provided" : false,
        "sensitive" : false,
        "value" : "usuarioredis"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "kafka-y-redis",
    "timestamp" : 0
  }
}